<div class="container py-5">
	<h3 class="mb-4 text-center">Cadastro de usuários</h3>
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<form>
				<div class="mb-3">
			  		<label for="exampleFormControlInput1" class="form-label">Nome</label>
			  		<input type="text" class="form-control" id="name" placeholder="nome do usuário">
				</div>
				<div class="mb-3">
			  		<label for="exampleFormControlInput1" class="form-label">E-mail</label>
			  		<input type="email" class="form-control" id="email" placeholder="e-mail do usuário">
				</div>
				<div class="mb-3">
			  		<label for="exampleFormControlInput1" class="form-label">Gênero</label>
			  		<input type="text" class="form-control" id="status" placeholder="gênero do usuário">
				</div>
				<div class="mb-3">
			  		<label for="exampleFormControlInput1" class="form-label">Status</label>
			  		<input type="text" class="form-control" id="gender" placeholder="status">
				</div>
				<div class="mb-3">
			   	 	<button type="submit" class="btn btn-pink text-white">Cadastrar</button>
			 	 </div>
			</form>
		</div>
	</div>
</div>
